
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&family=Poppins:wght@300;700&family=Roboto:wght@400&display=swap');


*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;

}

body{
    /* background-color: black; */
    font-family: 'Roboto', sans-serif;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 104px;
    background-color: rgb(235, 233, 236);
    gap: 550px;
}

.logo img{
    height: 100px;
    cursor: pointer;
}

.menus{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menus li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}

.btn{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
}

.menus li:hover{
    background-color: black;
    color: white;
}

.hero{
    display: flex;
    padding: 64px 0px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

.main-text{
    width: 700px;
    font-size: 20px;
}

.course{
    display: flex;
    padding: 64px 0px;
    justify-content: space-around;
    align-items: center;
    margin: 10px 40px;
}
.books{
    display: grid;
    justify-items: center;
}
.students{
    display: grid;
    justify-items: center;
}
.success{
    display: grid;
    justify-items: center;
}
h4{
    text-align: center;
    margin: 7px 2px 0 0;
}
.lib{
    
    display: flex;
    padding: 64px 0px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

.lib img{
    width: 500px;
}

.lib>.main-text{
    font-size: 20px;
    font-weight: bold;
}
.comp{
    
    display: flex;
    padding: 64px 0px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

.comp img{
    width: 500px;
}

.comp>.main-text{
    font-size: 20px;
    font-weight: bold;
}

footer{
    display: flex;
    height: 60px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
}
